<h2>Address Book</h2>
<table>
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Address</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let Contact of contacts">
            <td>{{ Contact.first }}</td>
            <td>{{ Contact.last }}</td>
            <td>{{ Contact.address }}</td>
            <td>{{ Contact.email }}</td>
        </tr>
    </tbody>
</table>
<button (click)="dash()">Back to Dashboard</button>